body{
     background-image: url('http://www.asheboronet.com/blackjack/images/background%20pattern.png');
     display: grid;
     /* grid-row:2 ; */
    
}

.cards-div{
    display: grid; 
    grid-column: auto;

}




